# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# built, compiled and generated outputs
api-generator
artifacts
build
coverage
dist
out
out-tsc
tmp
thunder-tests
**/build
**/dist
**/openapi.json
**/openapi-dist.yaml
.next
.nuxt
.temp
*.lcov
*.tgz
*.zip

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm, eslint & stylelint cache
.eslintcache
.npm
.stylelintcache

# dotenv environment variable files
config/local.env
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.nx

# Editor and cache
.idea
.project
.classpath
.settings/
.cache
.cache/
.serverless/
.vscode-test
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# DynamoDB Local files
.dynamodb/
Thumbs.db

# yarn
.yarn/*
.yarn-integrity
.pnp.*
